/* 2.add CSS */
/* h1{
    color: blue;
} */


/* 3.Basic Syntax */
/* h1{
    color: green;
    font-size: 70px;
} */


/* 4.CSS Selector */
/* - element-selctor */
h1{
    color: green;
    font-size: 20px;
}

/* class-selector */
.my-text-style{
    color: red;
    font-size: 20px;
}

/* id-selector */
#my-id{
    color: goldenrod;
    font-size: 50;
}

/* universal selector */
* {
    /* color: cyan; */
    color: black;
    font-size: 50;
}

/* group-selector */
h1,p,p2 {
    color: brown;
}


/* 5.Background properties*/
body{
    /* background-color: aqua; */
    /* background-image: url("/home/user/Downloads/53639.jpg"); */
    background-repeat:no-repeat;
    /* background-repeat:repeat-x; */
    /* object-fit: cover; */
    background-position: center;
    /* background-position: right; */
    background-attachment: fixed;
    /* background-size: cover; */
    /* background-size: contain; */
    background-size: auto;

}


/* 6.Border Properties */
h1{
    /* border-style: none; */
    /* border-style: dashed; */
    /* border-style: dotted; */
    border-style: solid;
    /* border-style: double; */
    /* border-style: groove; */
    /* border-style: ridge; */
    /* border-style: inset; */
    /* border-style: outset; */
    /* border-style: hidden; */
}


/* 7.Border Radius */
/* .my-div{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 10px 10px 10px 10px;
    border-radius: 40px 1px 40px 1px;
} */


/* 8.CSS Display Property */
/*p{*/
    /* display: block; */
    /* display: inline-block; */
    /* display: inline; */
    /* display: run-in; */
    /* display: none; */
/*}*/


/* 9.CSS Cursor Properties */
/* check html tag css inline */


/* 10.CSS Float Property */
/* img{ */
     /* float: right;  */
    /* float: left; */
    /* float: initial; */
    /* float: inherit; */
/* } */


/* 11.CSS Font */
p{
    font-size: 60px;
    font-weight:900;
    /* font-variant: small-caps; */
    color: blue;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* 12.CSS Hover */
.my-btn{
    background-color: red;
    border-radius: 6px;
    color: white;
    padding: 30px;

}

/* .my-btn:hover{
    background-color: green;
} */


/* 13.CSS Important */
.my-btn{
    background-color: black !important;
    border-radius: 6px;
    color: white;
    padding: 30px;

}

.my-btn{
    background-color: green;
    border-radius: 6px;
    color: white;
    padding: 30px;

}


/* 14.CSS Line Height */
p{
    /* line-height: 70%; */    /* abnormal */
    /* line-height: 100%; */
    line-height: 200%;
}


/* 15.CSS Margin */
p{
    /* margin-left: 30px; */
    /* margin: 80px; */
    /* margin-top: 80px; */
    /* margin-bottom: 80px; */
    /* margin-right: 80px; */
    /* margin-left: 80px; */
    margin: 50px 240px 30px 20px;    /* top right bottom left */
}


/* 16.CSS Padding */
/* outer space is margin and inner space is padding */
button{
    /* margin: 100px; */
    margin: 70px;
    /* padding: 20px; */
    /* padding-left: 20px; */
    padding: 40px 2px 100px 20px;    /* top right bottom left */
}


/* 17.CSS Filter */
img{
    width: 600px;
    height: auto;
    /* filter: brightness(300%); */
    /* filter: brightness(20%); */
    filter: brightness(100%);     /* default */
    /* filter: blur(5px); */
    /* filter: invert(20); */
    /* filter: invert(1000); */
    /* filter: saturate(-10); */
    /* filter: contrast(300%); */
    /* filter: opacity(40%); */
    /* filter: hue-rotate(200deg); */
    /* filter: grayscale(130%); */
    /* filter: sepia(90%); */
    filter: drop-shadow(10px 20px 30px yellow);

}


/* 18.CSS Overflow */